# Django project folders and files
*.pyc
*.pyo
__pycache__/
db.sqlite3
media/

# Environment variables and sensitive information
.env

# Editor and IDE files
*.swp
.vscode/
.idea/

# Dependency directories
.venv/
