<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}ascubadiving{% endblock %}</title>
    <link rel="icon" type="image/png"
        href="https://ascubadiving.com/cdn/shop/files/Ascubadiving-1_0f0ad404-92ef-4a5f-8c36-1675a2cf7a7e_230x200_crop_center@2x.png">

    {% load static %} <!-- Add this line to load the static template tag library -->
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- Add your custom CSS files here -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

    <!-- Add Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <style>
        body {
            background-image: url("{% static 'images/scuba-diver.jpg' %}");
            background-size: cover;
            background-position: center;
        }

        .logo-image {
            width: 30px;
            height: 30px;
        }
    </style>

</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Login</h2>

                        <form method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="id_username">Username:</label>
                                <input type="text" id="id_username" name="username" class="form-control" required
                                    autofocus>
                            </div>

                            <div class="form-group">
                                <label for="id_password">Password:</label>
                                <input type="password" id="id_password" name="password" class="form-control" required>
                            </div>

                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>

                        <hr>

                        <p>Or login with Google:</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="{% url 'google_login' %}" class="btn btn-outline-primary">Login with Google</a>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Bootstrap JS (optional) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>
