{% extends 'base.html' %}

{% block content %}
<h1>Airfill List</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Pressure</th>
      <th>Oxygen Percentage</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for airfill in airfills %}
    <tr>
      <td>{{ airfill.id }}</td>
      <td>{{ airfill.date }}</td>
      <td>{{ airfill.fill_pressure }}</td>
      <td>{{ airfill.oxygen_percentage }}</td>
      <td>
        <a href="{% url 'airfills:airfill_detail' airfill.id %}" class="btn btn-primary">View</a>
        <a href="{% url 'airfills:airfill_update' airfill.id %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'airfills:airfill_delete' airfill.id %}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'airfills:airfill_create' %}" class="btn btn-success">Create Airfill</a>
{% endblock %}