{% extends 'base.html' %}

{% block content %}
  <h1>Confirm Delete</h1>
  <p>Are you sure you want to delete the following airfill?</p>
  <ul>
    <li><strong>Date:</strong> {{ airfill.date }}</li>
    <li><strong>Pressure:</strong> {{ airfill.pressure }}</li>
    <li><strong>Oxygen Percentage:</strong> {{ airfill.oxygen_percentage }}</li>
  </ul>
  <form method="POST" action="{% url 'airfills:airfill_delete' airfill.id %}">
    {% csrf_token %}
    <button type="submit">Delete</button>
  </form>
  <br>
  <a href="{% url 'airfills:airfill_detail' airfill.id %}">Cancel</a>
{% endblock %}
