/* Custom CSS for the base template */

/* Menu Icon */
.menu-icon {
    width: 30px;
    height: 30px;
}

/* Navbar */
.navbar {
    border-radius: 0;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 16px;
    margin-left: 15px;
}

.navbar-nav .nav-link i {
    margin-right: 5px;
}

.navbar-nav .nav-link:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Main Content */
main {
    margin-top: 20px;
}

/* Footer */
footer {
    margin-top: 20px;
    text-align: center;
    background-color: #f8f9fa;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: #6c757d;
}

.weather-container {
    width: auto;
    height: 400px;
    /* Adjust the height as needed */
}

.weather-container iframe {
    width: auto;
    height: 100%;
    border: none;
}