/* login.css */

body {
    background-image: url('/static/images/scuba-diver.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    margin-top: 100px;
}

.card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    margin-bottom: 20px;
}

.btn-primary {
    width: 100%;
    margin-top: 20px;
}

.btn-outline-primary {
    width: 100%;
    margin-top: 10px;
}

.logo-image {
    width: 30px;
    height: 30px;
}