<form method="post" action="{% url 'gasblending:gas_blending' %}">
  {% csrf_token %}
  <div class="form-group">
    <h2>Input Oxygen Percentage</h2>
    <label for="current_o2">Current Oxygen Percentage:</label>
    <input type="number" class="form-control" id="current_o2" name="current_o2" min="0" max="100" step="0.01" value="21" required>
    <p class="default-settings">Default: 21%</p>
  </div>
  <div class="form-group">
    <label for="current_n2">Current Nitrogen Percentage:</label>
    <input type="number" class="form-control" id="current_n2" name="current_n2" min="0" max="100" step="0.01" value="78" required>
    <p class="default-settings">Default: 78%</p>
  </div>
  <div class="form-group">
    <label for="oxygen">Target Oxygen Percentage:</label>
    <input type="number" class="form-control" id="oxygen" name="oxygen" min="0" max="100" step="0.01" value="28" required>
  </div>
  <div class="form-group">
    <label for="helium">Target Helium Percentage:</label>
    <input type="number" class="form-control" id="helium" name="helium" min="0" max="100" step="0.01" value="0" required>
  </div>
  <div class="form-group">
    <label for="target_ppo2">Target pPO2:</label>
    <input type="number" class="form-control" id="target_ppo2" name="target_ppo2" step="0.01" value="1.4" required>
  </div>
  <button type="submit" class="btn btn-primary">Calculate</button>
</form>
