{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>Alerts</h2>
{% if compressor.check_air_filter_alert %}
<div class="alert alert-warning" role="alert">
    Air filters need to be changed!
    <button onclick="location.href='{% url 'compressor:reset_filters' %}'" class="btn btn-primary">Reset
        Filters</button>
</div>
{% endif %}

{% if compressor.check_oil_change_alert %}
<div class="alert alert-danger" role="alert">
    Oil needs to be changed!
    <button onclick="location.href='{% url 'compressor:reset_oil' %}'" class="btn btn-primary">Reset Oil</button>
</div>
{% endif %}
{% endblock %}