{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ascubadiving{% endblock %}</title>
    <link rel="icon" type="image/png"
        href="https://ascubadiving.com/cdn/shop/files/Ascubadiving-1_0f0ad404-92ef-4a5f-8c36-1675a2cf7a7e_230x200_crop_center@2x.png?v=1621223156">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/sidebars.css' %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
        integrity="sha384-U+v9XtjvJt8Wx4wq3pD27+rc/Sj+TQX9HqbvAdYoBIMJ+ogp0q3wx4cBvHk0xWNL" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">ascubadiving</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-4">Menu</span>
        </a>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{% url 'add_diver' %}" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#" />
                    </svg>
                    Add New Diver
                </a>
            </li>
            <li>
                <a href="{% url 'airfill' %}" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2" />
                    </svg>
                    Airfills
                </a>
            </li>
            <li>
                <a href="{% url 'equipment_rental' %}" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table" />
                    </svg>
                    Equipment Rental
                </a>
            </li>
            <li>
                <a href="{% url 'equipment_repair' %}" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#grid" />
                    </svg>
                    Equipment Repairs
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle" />
                    </svg>
                    shopify
                </a>
            </li>
        </ul>
        <hr />
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://ascubadiving.com/cdn/shop/files/Ascubadiving-1_0f0ad404-92ef-4a5f-8c36-1675a2cf7a7e_230x200_crop_center@2x.png?v=1621223156"
                    alt="ascubadiving" width="32" height="32" class="rounded-circle me-2" />
                <strong>{{ user.username }}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Change Password</a></li>
                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider" />
                </li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
            </ul>
        </div>
    </div>
    <main class="my-5">
        <div class="row">
            <div class="col"></div>
            <div class="col">{% block content %} {% endblock %}</div>
            <div class="col"></div>
        </div>
    </main>
    <footer>
        <p>&copy; {% now 'Y' %} ascubadiving, LLC. All rights reserved.</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>